name: Sync config_default.yml

on:
  push:
    paths:
      - GUGUbot/gugubot/config/defaults/default_config.yml

jobs:
  sync-readme:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}

    - name: Sync config_default.yml
      run: |
        cp GUGUbot/gugubot/config/defaults/default_config.yml default_config.yml
        git config --global user.name "GUGUbot"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add default_config.yml
        if git diff --cached --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Sync config_default.yml from GUGUbot/gugubot/config/defaults to root"
          git push
        fi
